header img {
  width: 100px;
  height: 70px;
  mix-blend-mode: difference;
  border-radius: 10px;
}

header nav a {
  text-decoration: none;
  margin: 10px;
  color: white;
  transition: 0.2s;
}

header nav a:hover {
  color: #d0d0d0;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #086db5;
  color: white;
}

.header-text {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
