.add {
  border: 1px solid rgb(238, 238, 238);
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 5px rgb(161, 161, 161);
  background: rgb(244, 244, 244);
  border-radius: 6px;
  width: 20%;
}

.add h2 {
  margin-bottom: 30px;
}

.add input,
button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #e0dcdc;
  color: black;
}

.add button {
  background: #1273d4;
  margin-left: 10px;
  color: white;
  transition: 0.2s;
}

.add button:hover {
  background: #0c5298;
}
